name: Deploy Contentful App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Set environment variable
      run: echo "RUNNER_HOME=$HOME" >> $GITHUB_ENV

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Node.js and dependencies
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: Install app dependencies 
      run: |
        npm ci
        npm run build

    - name: Deploy Contentful App
      run: |
       organization-id: ${{ secrets.ORGANIZATION_ID }}
       app-definition-id: ${{ secrets.APP_DEFINITION_ID }}
       access-token: ${{ secrets.ACCESS_TOKEN }}
       folder: /home/runner/work/contentfulsample/contentfulsample

