
name: Deploy Contentful App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Node.js and dependencies
      uses: actions/setup-node@v2
      with:
        node-version: 18
    - name: Install app dependencies 
      run: |
        npm update
        npm ci
        npm run build
    - uses: contentful/actions-app-deploy@v2
      with:
       organization-id: ${{ secrets.ORGANIZATION_ID }}
       app-definition-id: ${{ secrets.APP_DEFINITION_ID }}
       access-token: ${{ secrets.ACCESS_TOKEN }}
       folder: /home/runner/work/contentfulsample/contentfulsample

   

